<div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter block">
        <button class="button is-primary is-fullwidth" (click)='addSequence()'>Start</button><br><br>

        <div class="buttons are-large block">
            
            <button class="button is-danger" (click)='checkSequence("red")'>
                <span class="icon is-large">
                    <i class="fas fa-jedi is-large"></i>
                  </span>
            </button>
            <button class="button is-info" (click)='checkSequence("blue")'>
                <span class="icon is-large">
                    <i class="fab fa-old-republic"></i>
                  </span>
            </button>

        </div>

        <div class="buttons are-large block">

            <button class="button is-success" (click)='checkSequence("green")'>
                <span class="icon is-large">
                    <i class="fab fa-galactic-senate"></i>
                  </span>
            </button>
            <button class="button is-warning" (click)='checkSequence("yellow")'>
                <span class="icon is-large">
                    <i class="fab fa-galactic-republic"></i>
                  </span>
            </button>

        </div>

    </div>
</div>